[submodule "include/serial_debug"]
	path = include/serial_debug
	url = https://github.com/SciCoBot/serial_debug.git
[submodule "include/encoder"]
	path = include/encoder
	url = https://github.com/SciCoBot/encoder.git
[submodule "include/ultrasonic"]
	path = include/ultrasonic
	url = https://github.com/SciCoBot/ultrasonic.git
[submodule "include/differential_drive"]
	path = include/differential_drive
	url = https://github.com/SciCoBot/differential_drive.git
[submodule "include/motor_control"]
	path = include/motor_control
	url = https://github.com/SciCoBot/motor_control.git
[submodule "include/micro_ros_arduino"]
	path = include/micro_ros_arduino
	url = https://github.com/micro-ROS/micro_ros_arduino.git
